* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.myBlogAppHeader {
  height: 100px;
  border-bottom: 5px solid black;
  background-color: white;
  padding-inline: 40px;
  margin-top: 50px;
  margin-bottom: 5px;
  /* to create space between the 2 border lines ex.. border-bottom: 5px solid black; on .header and 
  .section  border-top: 5px solid black; we add margin bottom 5px on .hearder*/
}

/* we use the grid to fix or arrange arrange the the element inside the containe ex. back button and the toogle sun */
.myBlogAppHeader .container {
  display: grid;
  /* the grid has 3 elements inside the box 1. my first blog, 2. back arrow and sun icon */
  /* the fr its the fraction of the tot streen size. */
  grid-template-columns: 20fr 1fr 0.9fr;
   
}

/* sun */
.myBlogAppToggle {
    display: flex;
    justify-content: center;
    align-items: center;

  }

.myBlogAppSection {
  background-color: white;
  margin-top: 2px;
  padding-inline: 30px;
  /* border top section */
  border-top: 5px solid black;
  /* bor bottom section */
  border-bottom: 5px solid black;
  /* to space between the .section and the box called section.container below we add padding-block on .section*/
    padding-block: 10px;
    /* now we can add border lines at the bottom  */
/*add space between the section and the footer bordelines  */
margin-bottom: 5px;

}

/* this is saying we are being specific with the contair that is a direct child of section on blog.html ln 13*/
.myBlogAppSection .container {
  border: 4px solid black;
  /* for the container add margin  */
  margin-block: 10px;
  height: 200px;
  padding-inline: 10px;
}

hr {
  border-color: black;
}

.content {
  height: 130px;
  padding: 10px 0px 0px 10px;
}

.postedby {
  margin-top: 2px;
}

.backbutton {
  display: inline-block;
  background-color: black;
  color: white;
  width: 130px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  padding-block: 5px;
  margin: 0px 0px 0px 600px;
}

.footer {
    /* top line */
   border-top: 5px solid black;

}

.footer .container {
padding-inline: 50px;

}

.footer h4 {
margin-left: 45%;

}


/* margin to style or lower ul elements*/
.footer ul {
margin-top: 60px;


}

.footer li {
    /* /removed . on list of each li */
    list-style: none;
    
}

/* Dark mode */
.headerDark  {
  height: 100px;
   background-color: #243447;
   padding-inline: 40px;
   margin-top: 50px;
   margin-bottom: 5px;
   color: #bebebe;
   border-bottom: 5px solid #bebebe;
 }
 
 .headerDark .container {
display: grid;
grid-template-columns: 20fr 1fr 0.9fr;

 }


 .sectionDark {
   background-color: #243447;
   margin-top: 2px;
   padding-inline: 30px;
   border-top: 5px solid #bebebe;
   border-bottom: 5px solid #bebebe;
   padding-block: 10px;
   margin-bottom: 5px;
 
 }
 
 .sectionDark .container {
   border: 4px solid #bebebe;
   /* for the container add margin  */
   margin-block: 10px;
   height: 200px;
   padding-inline: 10px;
 }

 /* border color for the orizontal ln under the h2 elements */
.sectionDark hr {
  border-color: #bebebe;
}
.sectionDark h2 {
  color: #bebebe;
}
.sectionDark .content {
  height: 130px;
  padding: 10px 0px 0px 10px;
  color: #bebebe;
}

.sectionDark .postedby {
  margin-top: 2px;
  color: #bebebe;
}


.footerDark{
  /* top line */
 border-top: 5px solid #bebebe;

}

.footerDark .container {
padding-inline: 50px;

}

.footerDark h4 {
margin-left: 45%;
color: #bebebe;
}


/* margin to style or lower ul elements*/
.footerDark ul {
margin-top: 60px;


}

.footerDark li {
  /* /removed . on list of each li */
  list-style: none;
  color: #bebebe;
}

